@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.add__technique {
  margin: 0 0 15px 0;
}

.add__technique__addLink {
  color: $primary-color-3;
  margin-left: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.add__technique__form {
  @extend %container;
}

.add__technique__label {
  @extend %formLabel;
}

.add__technique__input {
  @extend %formInput;
}

.add__technique__textarea {
  @extend %formTextArea;
}

.add__technique__addButton {
  @extend %formButton;
  background: $button-background-success;
  color: #ffffff;
  margin-right: 10px;
}

.add__technique__closeModalButton{
  @extend %formButton;
}
