.detail__technique__infos {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 2px;;
}

.detail__technique__infos__title {
  font-weight: bold;
  font-size: 1.3rem;
  display: block;
  margin-bottom: 15px;
}
