.list__techniques__deleteButton {
  background: red;
  color: white;
  border: none;
  border-radius: 2px;
  transition: opacity 0.3s;
  font-weight: bold;
  opacity: 1;
}

.list__techniques__deleteButton:hover {
  opacity: 0.7;
}

