@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

%problemBasicInfos__button {
  border: none;
  border-radius: 2px;
  font-size: 1.01rem;
  padding: 10px 15px;
  opacity: 1;
  transition: opacity 0.5s;
}

%problemBasicInfos__button:hover {
  opacity: 0.8;
}

.problemBasicInfos__edit,
.problemBasicInfos__show {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 2px;;
}

.problemBasicInfos__show__title {
  font-weight: bold;
  font-size: 1.3rem;
  display: block;
  margin-bottom: 15px;
}

.problemBasicInfos__edit__cancelButton,
.problemBasicInfos__show__editButton {
  @extend %problemBasicInfos__button;
  background: #626262;
  color: #ffffff;
}

.problemBasicInfos__edit__saveButton {
  @extend %problemBasicInfos__button;
  background: $button-background-success;
  color: white;
  margin-right: 5px;
}

.problemBasicInfos__edit__label {
  @extend %formLabel;
}

.problemBasicInfos__edit__input {
  @extend %formInput;
}

.problemBasicInfos__edit__textArea {
  @extend %formTextArea;
}
