@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.add__problem {
  margin: 0 0 15px 0;
}

.add__problem__form {
  @extend %container;
}

.add__problem__addLink {
  @extend %spanLink;
}

.add__problem__label {
  @extend %formLabel;
}

.add__problem__input {
  @extend %formInput;
}

.add__problem__textarea {
  @extend %formTextArea;
}

.add__problem__Addbutton {
  @extend %formButton;
  background: $button-background-success;
  color: #ffffff;
  margin-right: 10px;
}

.add__problem__closeModalButton{
  @extend %formButton;
}
