@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.problemComments {
  margin-top: 5px;
}

.problemComments__container {
  @extend %simpleContainer;
}

.problemComments__addComemnt {
  margin-bottom: 20px;
}

.problemComments__addComment__contentTextArea {
  @extend %formTextArea;
}

.problemComments__addComment__addButton {
  @extend %formButton;
  background: $button-background-success;
  color: white;
  margin-right: 10px;
  margin-bottom: 10px;
}

.problemComments__addComment__clearButton {
  @extend %formButton;
}

.problemComments__listComments__item {
  margin: 10px 0px;
  display: flex;
}

.problemComments__listComments__itemContent{
  @extend %commentContent;
}

.problemComments__listComments__itemDateTime {
  @extend %commentDate;
}

.problemComments__listComments__itemDeleteButton {
  @extend %listActionButton;
  background: $button-background-danger;
}
