@import 'src/assets/sass/_colors.scss';
@import 'src/assets/sass/_extends.scss';

.solutionAttemptComments {  
  @extend %containerWhiteSimple;
}

.solutionAttemptComments__addComment {
  margin-bottom: 20px;
}

.solutionAttemptComments__addComment__contentTextArea {
  @extend %formTextArea;
}

.solutionAttemptComments__addComment__addButton {
  @extend %formButtonGreen;
  margin-right: 10px;
  margin-bottom: 10px;
}

.solutionAttemptComments__addComment__clearButton {
  @extend %formButton;
}

.solutionAttemptComments__listComments__item {
  margin: 10px 0px;
  display: flex;
}

.solutionAttemptComments__listComments__itemContent{
  @extend %commentContent;
}

.solutionAttemptComments__listComments__itemDateTime {
  @extend %commentDate;
}

.solutionAttemptComments__listComments__itemDeleteButton {
  @extend %listDeleteButton;
}
