.app {
  display: flex;
  flex-direction:column;
}

.menuAside-and-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 60px;
}

.view-routes {
  display: flex;
  flex: 1;
}

@media(min-width: 443px) {
  .menuAside-and-content {
    flex-direction: row;
  }
}
