body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: 'Raleway', sans-serif; */
}

html, body, #root, .app {
  min-height: 100vh; 
}

strong {
  font-weight: bold;
}

button {
  cursor: pointer;
}

.row {
  margin: 10px 0;
}

button, textarea, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.errorMessage {
  color: rgb(219, 11, 11);
}

.flex {
  display: flex;
}

.justifyAround {
  justify-content: space-around;
}

.justifyBetween {
  justify-content: space-between;
}
