@import 'src/assets/sass/_colors.scss';

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 35px 30px 10px 30px;
  max-width: 1100px;
}

.content__title {
  font-size:  2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content_subtitle {
  font-size:  1.6rem;
  margin-bottom: 20px;
}

.content__actionButton {
  padding: 10px 15px;
  border-radius: 2px;
  border: none;
  margin: 0 0 15px 0;
  // border: 1px solid #e0e0e0;
}
