@import 'src/assets/sass/_colors.scss';

.header {
  background: $primary-color-5;
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
}

.header__logoArea {
  display: flex;
  margin: 0 0 0 70px;
}

.header__logo {
  background: $primary-color-3;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
