@import 'src/assets/sass/_colors.scss';

.navAside {
  font-weight: bold;
  font-size: 1.2rem;
}

.navAside__hamburguer {
  display: block;
  text-align: center;
  background: #ddd;
  background: $primary-color-4;;
  padding: 12px 0 10px 0;
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  color: $primary-color-5;
  font-weight: bold;
}

.navAside__hamburguer__img {
  width: 40px;
  height: 25px;
}

.navAside__mainLinks {
  display: none;
}

.navAside li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  margin-bottom: 0px;
}

.navAside li a {
  padding: 12px 15px;
  color: #222222;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navAside li a.active {
  background: #f3f1f1; 
}

.navAside__mainLink__icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

@media(min-width: 1000px) {
  .navAside {
    width: 230px;
    padding: 40px 0 0 0;
    border-right: 1px solid #e0e0e0;
  }

  .navAside__hamburguer {
    display: none;
  }

  .navAside__mainLinks {
    display: block;
  }

  .navAside li {
    margin-bottom: 5px;
  }
}
