$primary-color-1: #ffb2aa;
$primary-color-2: #d4746A;
$primary-color-3: #aa4339;
$primary-color-4: #801f15;
$primary-color-5: #550800;

$button-background-success: green;
$button-background-danger: red;
