%formLabel {
  margin-bottom: 10px;
  font-size: 1.3rem;
  display: block;
}

%formInput {
  width: 98%;
  padding: 7px 4px;
  font-size: 1.01rem;
}

%formTextArea {
  width: 98%;
  padding: 7px 4px;
  font-size: 1.01rem;
}
