%formLabel {
  margin-bottom: 10px;
  font-size: 1.3rem;
  display: block;
}

%formInput {
  width: 98%;
  padding: 7px 4px;
  font-size: 1.01rem;
  border-radius: 2px;
}

%formTextArea {
  width: 98%;
  padding: 7px 4px;
  font-size: 1.01rem;
  border-radius: 2px;
}

%simpleContainer {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 2px;
  margin-bottom: 15px;
}

%formButton {
  border: none;
  border-radius: 2px;
  font-size: 1.01rem;
  padding: 10px 15px;
  opacity: 1;
  transition: opacity 0.5s;
  background: #626262;
  color: white;
}

%formButton:hover {
  opacity: 0.8;
}

%listActionButton {
  color: white;
  border: none;
  border-radius: 2px;
  transition: opacity 0.3s;
  font-weight: bold;
  opacity: 1;
  padding: 10px 7px;
}

%listActionButton:hover {
  opacity: 0.7;
}

%container {
  border: 1px solid #e0e0e0;
  padding: 15px;
  border-radius: 2px;;
}

%commentContent {
  display: block;
  font-size: 1.1rem;
  background: #ebecf0;
  margin: 10px 10px 0px 0px;
  padding: 15px 15px;
  white-space: pre-wrap;
}

%commentDate {
  color: #999;
}
